body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
main{
    margin-left: 20px;
    margin-top: 10px;
    width:90%;
    border-bottom: blueviolet 5px inset;
    border-left: blueviolet 5px inset;
    border-top: rgb(230, 230, 235) 5px inset;
    border-right: rgb(230, 230, 235) 5px inset;
}
.screen{
    height: 80px;
    width: 97%;
    background-color:rgb(255, 143, 255);
    
}
.operations{
    width: 100%;
}
.button{
    border-radius: 50%;
    background-color:rgb(233, 232, 232);
    width: 70px;
    height: 70px;
    
}

#equal{
    background-color:rgb(197, 35, 247);
    border-radius: 50%;
    border: none;
    width: 70px;
    height: 70px;
}
#operation {
    flex: 1 1 auto;
}
@media screen and (min-width: 433px) {
    .screen{
        height: 100px;
    }
    main{
        margin-left: 20px;
        margin-top: 10px;
        width:90%;
    }
    .button{
        width: 75px;
        height: 75px;
    }
    #equal{
        border: none;
        width: 75px;
        height: 75px;
    }
}
@media screen and (min-width: 700px) {
    main{
        margin-left: 20%;
        margin-top: 10px;
        width:45%;
    }
    .button{
        width: 50px;
        height: 50px;
    }
    #equal{
        width: 50px;
        height: 50px;
    }

}
@media screen and (min-width: 992px) {
    main{
        margin-left: 35%;
        width: 23%;
    }
    .button:hover{
        background-color:rgb(197, 35, 247);
    }
        
    
}